*::selection {
    background-color: .2;
    opacity: .2;
    color: red!important;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff!important;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    flex-wrap: wrap;
    width: 33.3%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: linear-gradient(120deg, #4f3567, #1c1c22, #101012, #101012);
    position: relative;
    z-index: -4;
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
}